#Implement baseline Random Forest model

In [20]:
import pandas as pd
import numpy as np

import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn import cross_validation

In [2]:
train = pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#Make Dummies

###Sex

In [4]:
# check type, distinct count, & values
print train.Sex.dtype, len(train.Sex.unique()), train.Sex.unique() 

# make boolean
train.Sex = (train.Sex == 'male')

# verify
print train.Sex.dtype, len(train.Sex.unique()), train.Sex.unique()

object 2 ['male' 'female']
bool 2 [True False]

###Embarked

In [5]:
print train.Embarked.dtype, len(train.Embarked.unique()), train.Embarked.unique()

dummies = pd.get_dummies(train.Embarked, prefix='embarked').astype(np.bool)
train = pd.concat([train, dummies], axis=1)
train.head()

object 4 ['S' 'C' 'Q' nan]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,embarked_C,embarked_Q,embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",True,22.0,1,0,A/5 21171,7.2500,NaN,S,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",False,38.0,1,0,PC 17599,71.2833,C85,C,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",False,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",False,35.0,1,0,113803,53.1000,C123,S,False,False,True
4,5,0,3,"Allen, Mr. William Henry",True,35.0,0,0,373450,8.0500,NaN,S,False,False,True

#General Cleaning

In [7]:
# inspect types
train.ftypes

PassengerId      int64:dense
Survived         int64:dense
Pclass           int64:dense
Name            object:dense
Sex               bool:dense
Age            float64:dense
SibSp            int64:dense
Parch            int64:dense
Ticket          object:dense
Fare           float64:dense
Cabin           object:dense
Embarked        object:dense
embarked_C        bool:dense
embarked_Q        bool:dense
embarked_S        bool:dense
dtype: object

In [11]:
# define feature columns
features_list = []
exclude_list = 'Survived','PassengerId'

for col in train.columns:
    if ((train[col].dtype != 'object') & (col not in exclude_list)):
        features_list.append(col)
        
features_list

['Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'embarked_C',
 'embarked_Q',
 'embarked_S']

In [17]:
train_y = train.Survived
train_X = train[train.columns.intersection(features_list)]
train_X.replace(np.nan, 0)

train_features.head()

   Pclass    Sex   Age  SibSp  Parch     Fare embarked_C embarked_Q embarked_S
0       3   True  22.0      1      0   7.2500      False      False       True
1       1  False  38.0      1      0  71.2833       True      False      False
2       3  False  26.0      0      0   7.9250      False      False       True
3       1  False  35.0      1      0  53.1000      False      False       True
4       3   True  35.0      0      0   8.0500      False      False       True

#Train Random Forest

In [21]:
clf = RandomForestClassifier()


clf.fit(train_features, train_outcome)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').