In [31]:
import pandas as pd
from pandas import Series, DataFrame
import string
import numpy as np
import re
%matplotlib nbagg
import matplotlib.pylab as plt
import seaborn as sns

In [2]:
path = 'train.csv'

In [3]:
titanic_train = pd.read_table(path, sep = ",")

In [4]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

####Field Definitions:
    *survival        Survival (0 = No; 1 = Yes)
    *pclass          Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
    *name            Name
    *sex             Sex
    *age             Age
    *sibsp           Number of Siblings/Spouses Aboard
    *parch           Number of Parents/Children Aboard
    *ticket          Ticket Number
    *fare            Passenger Fare
    *cabin           Cabin
    *embarked        Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

###Feature engineering

In [5]:
##titles = titanic_train['Name'].tolist()
titanic_train['Name'].str.extract(',(.*)\.').unique()

array([' Mr', ' Mrs', ' Miss', ' Master', ' Don', ' Rev', ' Dr', ' Mme',
       ' Ms', ' Major', ' Mrs. Martin (Elizabeth L', ' Lady', ' Sir',
       ' Mlle', ' Col', ' Capt', ' the Countess', ' Jonkheer'], dtype=object)

In [6]:
def return_title(x):
    name = re.search(',(.*)\.', x['Name']).group(1)
    sex = x['Sex']
    if any(title in name for title in ['Countess', 'Mme', 'Mrs']):
        return 'Mrs'
    elif any(title in name for title in ['Don', 'Master', 'Rev', 'Jonkheer', 'Mr', 'Sir']):
        return 'Mr'
    elif any(title in name for title in ['Major', 'Col', 'Capt']):
        return 'Military'
    elif any(title in name for title in ['Mlle', 'Ms', 'Miss', 'Lady']):
        return 'Miss'
    elif any(title in name for title in ['Dr']):
        if sex == 'Male':
            return 'Mr'
        else:
            return 'Mrs'
    else:
        return name

In [7]:
re.search(',(.*)\.', titanic_train['Name'].iloc[0]).group(1)

' Mr'

In [8]:
##map function: map(f, iterable) basically applies the function to every iteration
##apply: Applies function along input asix of DataFrame
titanic_train['Title'] = titanic_train.apply(return_title, axis=1)

In [23]:
titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",True,22,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",False,38,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",False,26,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",False,35,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",True,35,0,0,373450,8.0500,NaN,S,Mr
5,6,0,3,"Moran, Mr. James",True,NaN,0,0,330877,8.4583,NaN,Q,Mr
6,7,0,1,"McCarthy, Mr. Timothy J",True,54,0,0,17463,51.8625,E46,S,Mr
7,8,0,3,"Palsson, Master. Gosta Leonard",True,2,3,1,349909,21.0750,NaN,S,Mr
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",False,27,0,2,347742,11.1333,NaN,S,Mrs
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",False,14,1,0,237736,30.0708,NaN,C,Mrs
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",False,4,1,1,PP 9549,16.7000,G6,S,Miss
11,12,1,1,"Bonnell, Miss. Elizabeth",False,58,0,0,113783,26.5500,C103,S,Miss
12,13,0,3,"Saundercock, Mr. William Henry",True,20,0,0,A/5. 2151,8.0500,NaN,S,Mr
13,14,0,3,"Andersson, Mr. Anders Johan",True,39,1,5,347082,31.2750,NaN,S,Mr
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",False,14,0,0,350406,7.8542,NaN,S,Miss
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",False,55,0,0,248706,16.0000,NaN,S,Mrs
16,17,0,3,"Rice, Master. Eugene",True,2,4,1,382652,29.1250,NaN,Q,Mr
17,18,1,2,"Williams, Mr. Charles Eugene",True,NaN,0,0,244373,13.0000,NaN,S,Mr
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",False,31,1,0,345763,18.0000,NaN,S,Mrs
19,20,1,3,"Masselmani, Mrs. Fatima",False,NaN,0,0,2649,7.2250,NaN,C,Mrs
20,21,0,2,"Fynney, Mr. Joseph J",True,35,0,0,239865,26.0000,NaN,S,Mr
21,22,1,2,"Beesley, Mr. Lawrence",True,34,0,0,248698,13.0000,D56,S,Mr
22,23,1,3,"McGowan, Miss. Anna ""Annie""",False,15,0,0,330923,8.0292,NaN,Q,Miss
23,24,1,1,"Sloper, Mr. William Thompson",True,28,0,0,113788,35.5000,A6,S,Mr
24,25,0,3,"Palsson, Miss. Torborg Danira",False,8,3,1,349909,21.0750,NaN,S,Miss
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",False,38,1,5,347077,31.3875,NaN,S,Mrs
26,27,0,3,"Emir, Mr. Farred Chehab",True,NaN,0,0,2631,7.2250,NaN,C,Mr
27,28,0,1,"Fortune, Mr. Charles Alexander",True,19,3,2,19950,263.0000,C23 C25 C27,S,Mr
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",False,NaN,0,0,330959,7.8792,NaN,Q,Miss
29,30,0,3,"Todoroff, Mr. Lalio",True,NaN,0,0,349216,7.8958,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",True,21,1,0,28134,11.5000,NaN,S,Mr
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",False,48,0,0,17466,25.9292,D17,S,Mrs
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",False,NaN,8,2,CA. 2343,69.5500,NaN,S,Miss
864,865,0,2,"Gill, Mr. John William",True,24,0,0,233866,13.0000,NaN,S,Mr
865,866,1,2,"Bystrom, Mrs. (Karolina)",False,42,0,0,236852,13.0000,NaN,S,Mrs
866,867,1,2,"Duran y More, Miss. Asuncion",False,27,1,0,SC/PARIS 2149,13.8583,NaN,C,Miss
867,868,0,1,"Roebling, Mr. Washington Augustus II",True,31,0,0,PC 17590,50.4958,A24,S,Mr
868,869,0,3,"van Melkebeke, Mr. Philemon",True,NaN,0,0,345777,9.5000,NaN,S,Mr
869,870,1,3,"Johnson, Master. Harold Theodor",True,4,1,1,347742,11.1333,NaN,S,Mr
870,871,0,3,"Balkic, Mr. Cerin",True,26,0,0,349248,7.8958,NaN,S,Mr
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",False,47,1,1,11751,52.5542,D35,S,Mrs
872,873,0,1,"Carlsson, Mr. Frans Olof",True,33,0,0,695,5.0000,B51 B53 B55,S,Mr
873,874,0,3,"Vander Cruyssen, Mr. Victor",True,47,0,0,345765,9.0000,NaN,S,Mr
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",False,28,1,0,P/PP 3381,24.0000,NaN,C,Mrs
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",False,15,0,0,2667,7.2250,NaN,C,Miss
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",True,20,0,0,7534,9.8458,NaN,S,Mr
877,878,0,3,"Petroff, Mr. Nedelio",True,19,0,0,349212,7.8958,NaN,S,Mr
878,879,0,3,"Laleff, Mr. Kristo",True,NaN,0,0,349217,7.8958,NaN,S,Mr
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",False,56,0,1,11767,83.1583,C50,C,Mrs
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",False,25,0,1,230433,26.0000,NaN,S,Mrs
881,882,0,3,"Markun, Mr. Johann",True,33,0,0,349257,7.8958,NaN,S,Mr
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",False,22,0,0,7552,10.5167,NaN,S,Miss
883,884,0,2,"Banfield, Mr. Frederick James",True,28,0,0,C.A./SOTON 34068,10.5000,NaN,S,Mr
884,885,0,3,"Sutehall, Mr. Henry Jr",True,25,0,0,SOTON/OQ 392076,7.0500,NaN,S,Mr
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",False,39,0,5,382652,29.1250,NaN,Q,Mrs
886,887,0,2,"Montvila, Rev. Juozas",True,27,0,0,211536,13.0000,NaN,S,Mr
887,888,1,1,"Graham, Miss. Margaret Edith",False,19,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",False,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",True,26,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",True,32,0,0,370376,7.7500,NaN,Q,Mr

In [10]:
titanic_train['Title'].value_counts()

Mr          566
Miss        186
Mrs         134
Military      5
dtype: int64

In [11]:
titanic_train['Survived'].value_counts()

0    549
1    342
dtype: int64

In [22]:
## turn sex into boolean
sex = {'male':True, 'female':False}
titanic_train.Sex = titanic_train['Sex'].map(sex)

###Dummy variables should be integers before entering into Random Forest as it takes less processing power
###REMEMBER: Feature build on the first letter in cabin

In [30]:
## will need to filter this down to discrete or continuous fields
num_titanic_train = titanic_train[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
num_titanic_train.head()
## pairplot instead of scatter_matric
##scatter_matrix(num_titanic_train, alpha=0.05, figsize=(10, 10), diagonal='kde')

   Survived  Pclass    Sex  Age  SibSp  Parch     Fare
0         0       3   True   22      1      0   7.2500
1         1       1  False   38      1      0  71.2833
2         1       3  False   26      0      0   7.9250
3         1       1  False   35      1      0  53.1000
4         0       3   True   35      0      0   8.0500

In [32]:
sns.pairplot(num_titanic_train)

AttributeError: max must be larger than min in range parameter.